.uwh-abn{
	width:3.5625em;
	height:1.75em;
}
.appcanBtn{
	background-image:url('myImg/appcanBtn.png');
}
.umar-l-ele{
	margin-left:0.8em;
}
.t-btn-ds1{
	background-image:url('myImg/t-btn-ds1.png');
}
.t-btn-ds2{
	background-image:url('myImg/t-btn-ds2.png');
}
.ubb-pic{
	border-right:2px solid #fff;
}
.t-blu2{
	color:#0670b7;
}
.uinn-a15{
	padding:0.52em 0;
}

.ressearch{
	background-image:url('myImg/search.png');
}
.ressaomiao{
	background-image:url('myImg/saomiao.png');
}
.umwh{
	min-height:1em;
	min-width:1em;
}
.t-btn-ds1{
	background-image:url('myImg/t-btn-hf1.png');
}
.uinn-1{
	padding:0.15em 0.5em;
}
.uwh-tBtn{
    width: 1.75em;
    height: 1.75em;
}
input[type=radio]+div.rdi {
    color: #0670b7;
}

input[type=radio]:checked+div.rdi {
    color: #fff;
}
. c-wh{
    background: #fff;
}
.umar-aaa {
    margin: 0.3em;
}
.maxh{
    max-height: 2.75em;
}
